<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <i class="bi bi-list" id="btn-canva-control"></i>
    <!--nav bar-->
    <%- include('layouts/menu'); -%>

    <!--Inicial Section -->
    <%- include('layouts/init.ejs') %> 
    <!-- Main section -->
    <%- include('layouts/main'); -%>
    <!-- Prices -->
    <%- include('layouts/prices.ejs') %>
    <!--Footer-->
    <%- include('layouts/footer.ejs') %>
    <!--Scripts-->
    <%- include('layouts/script'); -%>
  </body>
</html>
